*.iml
node_modules

chrome/*.png
chrome/jquery*.js
chrome/fonts.js

safari/arretsurimage-fontsize.safariextension/*.png
safari/arretsurimage-fontsize.safariextension/jquery*.js
safari/arretsurimage-fontsize.safariextension/fonts.js
