*.iml
node_modules

chrome/*.png
chrome/jquery*.js
chrome/fonts.js

firefox/package.json
firefox/data/jquery*.js
firefox/data/fonts.js
firefox/icons/*

safari/arretsurimages-fontsize.safariextension/*.png
safari/arretsurimages-fontsize.safariextension/jquery*.js
safari/arretsurimages-fontsize.safariextension/fonts.js
